[submodule "src/riscv-isa-sim"]
	path = src/riscv-isa-sim
	url = git@github.com:riscv/riscv-isa-sim.git
[submodule "src/freedom-elf2hex"]
	path = src/freedom-elf2hex
	url = git@github.com:sifive/freedom-elf2hex.git
